<div class="container mt-4">

  <h2><%= @list.name %></h2>

  <p>Number of Movies: <%= @list.movies.count %></p>

  <div class="container">
    <div class="row">
    <div class="col-4 mb-4 d-flex align-items-stretch">
      <%= render "form" %>
    </div>
      <% @list.bookmarks.each do |bookmark| %>
        <div class="col-4 mb-4 d-flex align-items-stretch">
          <%= render "card", bookmark: bookmark %>
        </div>
      <% end %>
    </div>
  </div>

  <hr>
  <%= link_to "Back to list", root_path %>
  <br>
  <br>


</div>
